# cryptmount source artefacts to be ignored by 'git'

aclocal.m4
autom4te.cache/
compile
configure
config.guess
config.sub
cryptmount
install-sh
stamp-h?
tags
.depend
.*.swp
[a-z]*.o

cm-*.so
config.h
config.log
config.status
debian/*-debtx
debian/patches/docfiles-pathnames.patch
delegates.h
doxygen.conf

luks/Makefile
luks/Makefile.in
luks/libcmluks.a

Makefile
Makefile.in
man/cmtab.5
man/cryptmount.8
man/cryptmount-setup.8
man/Makefile
man/*/cryptmount.8
man/*/cmtab.5
man/*/Makefile

po/Makefile
po/Makefile.in
po/messages.mo
po/POTFILES
po/stamp-po
po/*.gmo

sysinit/cryptmount.service
sysinit/initscript
sysinit/Makefile.in
sysinit/setupscript

testing/keys/3.1.2_luks_md5_blowfish_0
testing/keys/4.1_luks_ripemd160_twofish_0
testing/logs/
testing/Makefile.in
testing/mudslinger
testing/mudslinger*.log
